/* 全局样式表 */
html,body,#app {
    height: 100%;
    margin: 0;
    padding: 0;
    /* 全页面最小宽度，页面不足1366时，会强制限制在1366px */
    /* 限制在1366px同时出现可以左右滑动的滑块 */
    min-width: 1366px;
}
/* 重置全局面包屑的样式 */
.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}
/* 重置全局卡片视图的样式 */
.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
    margin-top: 15px;
    font-size: 12px;
}
/* 分页区域样式 */
.el-pagination {
    margin-top: 15px;
}
.el-steps {
    margin: 15px 0;
}

.el-step__title {
    font-size: 13px;
}

/* 富文本编辑器的最小高度为300px */
.ql-editor {
    min-height: 300px;
  }